---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Learn more about Yifei (Evian) Zhou, an Embedded & IoT systems enthusiast, and M.Eng student at McMaster University."
	pubDate={new Date('December 19 2024')}
>
	<p>
		Hi, I’m Yifei (Evian) Zhou. I earned my B.Eng from Harbin Institute of Technology in 2016 and 
		worked in the IT industry until 2024, when I embarked on a new chapter by pursuing an M.Eng at 
		McMaster University. My studies focus on Embedded & IoT systems, Engineering Sustainability, and Artificial Intelligence.
	</p>

	<p>
		I’ve been a HomeLab enthusiast since 2014, exploring virtualization with an HP N54L on VMware ESXi 
		and experimenting with OpenWRT, Docker, and Xpenology. I’m passionate about embedded system products—ranging 
		from routers and Meshtastic devices to Raspberry Pi and smart home systems. I also enjoy creating productivity 
		tools that simplify everyday life.
	</p>

	<p>
		Outside of technology, I have a love for driving and motorcycling.
	</p>

	<p>
		Feel free to connect with me on LinkedIn to learn more about my journey!
	</p>
</Layout>
