---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<link
			rel="alternate"
			type="application/rss+xml"
			title="Yifei's Blog"
			href={new URL("rss.xml", Astro.site)}
		/>
	</head>
	<body>
		<Header />
		<main>
			<h1>A Whole New Chapter!</h1>
			<p>
				Welcome to the new chapter of my personal blog!
			</p>
			<p>
				It’s been a while since I last updated this space. Many of the 
				older articles have become obsolete or outdated, and with modern 
				tools like ChatGPT revolutionizing problem-solving, the landscape has changed dramatically.
			</p>
			<p>
				I’m taking this opportunity to rebuild my blog and portfolio, experimenting with 
				fresh ideas and exploring new possibilities. While this site is still a work 
				in progress, I’m excited to share this journey with you.
			</p>
			<p>
				Stay tuned!
			</p>
		</main>
		<Footer />
	</body>
</html>
